.popup-box {
  width: 600px;      /* 👈 aumenta a largura */
  max-width: 90%;    /* 👈 responsivo (não estoura em telas menores) */
  padding: 20px;
}

/* container principal */
.home-page {
  height: 100vh;
  padding-top: 60px; /* espaço da topbar */
    position: relative;
}

/* mapa ocupa tudo */
.leaflet-container {
  height: 100%;
  width: 100%;
}


.add-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.add-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  z-index: 500; /* acima do mapa */
}

/* cada botão (ícone + texto) */
.add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* círculo do botão */
.add-circle {
  width: 55px;
  height: 55px;
  background-color: rgb(30, 42, 56);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  font-size: 24px;

  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: 0.2s;
}

.add-circle:hover {
  background-color: rgb(30, 42, 56);
  transform: scale(1.05);
}

/* legenda em caixa */
.add-item span {
  margin-top: 6px;
  padding: 5px 10px;

  background-color: rgb(30, 42, 56);
  color: white;

  border-radius: 8px;
  font-size: 12px;

  box-shadow: 0 3px 8px rgb(30, 42, 56);
  white-space: nowrap;
}

.legenda-mapa {
  position: absolute;
  bottom: 20px;
  left: 20px;

  background: rgb(30, 42, 56);
  padding: 12px;

  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(255, 255, 255);

  z-index: 2000;

  display: flex;
  flex-direction: column;
  gap: 10px;

  min-width: 180px;
}

.item-legenda {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;

  font-size: 14px;
}

.item-legenda img {
  width: 30px;
  height: auto;
}